<mat-toolbar *ngIf="!xsmall; else isMobile"
    [ngClass]="{'header-desktop': large, 'header-desktop-xlarge': xlarge, 'header-medium': medium, 'header-small': small }">
    <img src="assets/img/logo_teste.png" routerLink="" style="cursor: pointer;">
    <span class="example-spacer"></span>
    <span flex></span>
    <span>About Us</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <span routerLink="contact" style="cursor: pointer;">Contact Us</span>
</mat-toolbar>
<ng-template #isMobile>
    <img src="assets/img/logo_teste.png" routerLink="" style="cursor: pointer;"><br>
    <button style="cursor: pointer;" mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span style="color: #f44336; cursor: pointer;" routerLink="">Home</span>
        </button>
        <button mat-menu-item>
            <span style="color: #f44336; cursor: pointer;" routerLink="contact">Contact Us</span>
        </button>
    </mat-menu>
</ng-template>