
  .img-logo {
      /* margin-left: 10%;
      margin-top: 2%; */
      vertical-align: middle;
  }
  .align-items {
    display: flex;
  }
  .justify-items {
    font-size: 15px;
    line-height: 2;
    
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  span {
    color: white
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: transparent;
}
.header-desktop {
  min-height:30%; 
  padding: 3% 17% 9% 18%;
}
.header-desktop-xlarge {
  min-height:30%; 
  padding: 3% 17% 9% 18%;
}
.header-medium {
  min-height:30%; 
  padding: 5% 17% 9% 18%;
}
.header-small {
  min-height:30%; 
  padding: 10% 17% 9% 18%;
}
.header-xsmall {
  min-height:30%; 
  padding: 10% 17% 9% 18%;
}